<h1>Inyeccion de cookies</h1>
<form id="cookieForm" >
    <label>Nombre</label>
    <input name="name">
    <label>Correo</label>
    <input name="email">
    <button type="submit">Enviar</button>
</form>

<button onclick="getCookie()">Obtener cookie</button>

<script src="/js/cookieSetter.js"></script>