<div>
    <h1>Register</h1>
    <form action="/api/users" method="post">
        <label for="name">Name</label>
        <input name="name">
        <label for="email">Mail</label>
        <input name="email">
        <button type="submit">Send</button>
    </form>
</div>